.container {
  padding: 0 2rem;
}

.filterContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.listContainer {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}
